@import '../../../../Utils/colors';

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin: 0 10px 0 10px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 500px) {
    .link-container {
        display: none;
    }
}
