@import '../../../Utils/colors';

nav {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $light-grey;
    color: $dark-grey;
    max-height: 50px;
    min-height: 50px;
    width: 100%;
    user-select: none;
    overflow: hidden;
    z-index: 5;
}
