@import '../../../Utils/colors';

nav {
    align-items: center;
    background-color: $light-grey;
    color: $dark-grey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
    position: fixed;
    user-select: none;
    width: 100%;
    z-index: 5;
}
