@import '../../../Utils/colors';

.main-container {
    height: 100vh;
    width: 100%;
}

.backdrop {
    background-image: url(./photo-1522252234503-e356532cafd5.jpeg);
    background-size: cover;
    height: 100vh;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.greeting {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 3;

    .svg-logo {
        margin-bottom: 50px;
        opacity: 0.8;
    }

    .greeting-name {
        color: darken($light-grey, 40%);
        font-size: 72px;
        font-weight: 300;
        letter-spacing: 10px;
    }

    .greeting-title {
        color: $light-grey;
        font-size: 126px;
        font-weight: 800;
        letter-spacing: 10px;
    }

    .down-arrow {
        bottom: 10%;
        display: flex;
        position: absolute;

        .left-bar {
            background-color: $dark-gold;
            height: 8px;
            transform: rotate(45deg) translateX(17px);
            width: 65px;
        }
        .right-bar {
            background-color: $light-gold;
            height: 8px;
            transform: rotate(-45deg) translateX(-17px);
            width: 65px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .greeting {
        text-align: center;

        .greeting-name {
            color: darken($light-grey, 40%);
            font-size: 32px;
            font-weight: 300;
            letter-spacing: 8px;
        }

        .greeting-title {
            color: $light-grey;
            font-size: 32px;
            font-weight: 800;
            letter-spacing: 8px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .greeting {
        text-align: center;

        .greeting-name {
            color: darken($light-grey, 40%);
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 6px;
        }

        .greeting-title {
            color: $light-grey;
            font-size: 26px;
            font-weight: 800;
            letter-spacing: 6px;
        }
    }
}
