@import '../../../Utils/colors';

.about-container {
    // background-color: chartreuse;
    color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;

    .about-title {
        color: $light-grey;
        font-size: 126px;
        font-weight: 800;
        letter-spacing: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: pink;
        width: 75%;
        height: 33%;
    }

    .about-content {
        // background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        height: 33%;

        .about-left {
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('./bio.png');
            background-size: cover;
            height: 375px;
            width: 375px;
            border-radius: 20px 20px 20px 20px;
        }
        .about-right {
            // background-color: lemonchiffon;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: darken($light-grey, 40%);
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 6px;
            height: 75%;
            width: 50%;
        }
    }

    .about-footer {
        // background-color: fuchsia;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 33%;
        width: 50%;
        color: $light-gold;
        div {
            cursor: pointer;
            list-style: none;
            display: inline;
            padding: 20px;
        }
    }
}
